$pink: #fbc8c1;
$mint: #a7c9ae;
$darkgreen: #859e8a;
$beige: #fff3d9;
$outline: #f2e4db;
$yellow: #fec97a;
$darkgrey: #a6a6a6;
$graphite: #5b5a4e;

body {
  background-color: $pink;
  background-image: url("../assets/pen_pencil.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
  text-align: center;
}

h1 {
  margin-top: 179px;
  text-align: center;
  color: $beige;
  font-family: Courier; 
}

input {
  height: 30px;
  margin-right: 5px;
  text-align: center;
  width: 30px;
  color: $graphite;
  background-color: $beige;
  box-shadow: none;
}

input:focus {
  // box-shadow: 0 0 10px #719ECE;
  border: 3px solid $outline;
  outline: none;
}

button {
  align-items:center;
  background-color: $beige;
  border: 5px solid $outline;
  display: block;
  display:flex;
  height: 50px;
  justify-content:center;
  text-align: center;
  width: 136px;
  color: $darkgreen;
  border-radius: 25px;;
}

#main {
  margin-top: 50px;
}

#clue {
  color: $darkgreen;
}
#message {
  color: $darkgreen;
}

#buttonArea {
  align-items: center;
  display: flex;
  justify-content: center;
}

#nextword {
  /*display: block;*/
  /*text-align: center;*/
  width: 100px;
}

#beginbutton {
  // margin-top: 137px;
  // width: 136px;
}

@media (min-width: 768px) {
  body {
    background-size: 500px;
    background-position: center top; 
    // background-repeat: repeat;;
  }
  h1 {
    margin-top: 224px;
    font-size: 38px;

  }
  #beginbutton {
    // margin-top: 10px;
  }
  #main {
    margin-top: 63px;
  }
  #message {
    // margin-top: 160px;
  }

  // #beginbutton {
  //   margin-top: 0;
  //   // width: 115px;
  // }
}

